@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 24px;
}
:root{
    --c_b:#5AC3F0;
    --c_bb:#027DB2;

}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: white;
    border-bottom: 1px solid #ddd;
    margin-top: 1rem;
}

.logo {
    display: flex;
    align-items: center;
    width: 12.08rem; /* Удалено дублирующее свойство */
}

nav {
    display: flex;
    gap: 20px;
}

.nav-a {
    margin-top: 10px;
    padding-right: 2.083rem;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.buy-ticket {
    background-color: var(--c_b);
    width: 12.5;
    height: 3.33rem;
    color: white;
    padding: 1rem 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    margin-top: -0.5rem;
}

.buy-ticket:hover {
    background-color: #36A2D9;
}
.container {
    background-image: url('../images/water/main.png');
    max-width: 100%;
    height: 39.833rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    padding: 20px;
}

.water-h{
    font-size: 2.666rem;
    padding-top: 8.41rem;
    margin-bottom: 2rem;
}
.water-p{
    font-size: 0.833rem;
    padding-top: 0rem;
    font-weight: 700;
    width: 46rem;
}

p {
    margin: 0 auto;
    line-height: 1.6;
    margin-bottom: 15px;
    
}
.button{
    background-color: black;
    width: 60%;
    height: 2.33rem;
    color: white;
    padding-top: 0.6rem;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    opacity: 1s ;

}
.button:hover{
    background-color: white;
    color: black;
    opacity: 1s;
    transition: 1s;
}
.blocks{
    display: grid;
    grid-gap: 4rem;
    text-align: center;
    grid-template-columns: 31rem 31rem;
    color: white;
    margin-top: 4rem;
    justify-content: center;
    font-size: 0.6rem;
}
.block-one{
    background-image: url('../images/water/Manta.JPG');
    width: 31.41rem;
    height: 27.541rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
    
}

.block-two{
    background-image: url('../images/water/tornado.jpg');
    width: 100%;
    height: 27.541rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
    
}
.block-three{
    background-image: url('../images/water/aqvasfer.jpg');
    width: 100%;
    height: 27.541rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
}
.block-four{
    background-image: url('../images/water/waterpet.jpg');
    width: 100%;
    height: 27.541rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;

}
.block-five{
    background-image: url('../images/water/opencloserd.jpg');
    width: 31.41rem;
    height: 27.541rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
    
}

.block-six{
    background-image: url('../images/water/big.jpg');
    width: 100%;
    height: 27.541rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
    
}
.block-seven{
    background-image: url('../images/water/konstriktor.jpg');
    width: 100%;
    height: 27.541rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
}
.block-eight{
    background-image: url('../images/water/family.jpg');
    width: 100%;
    height: 27.541rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;

}
.block-nine{
    background-image: url('../images/water/volnovoi.jpg');
    width: 31.41rem;
    height: 27.541rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
    
}

.block-ten{
    background-image: url('../images/water/slowriver.jpg');
    width: 100%;
    height: 27.541rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
    
}
.block-eleven{
    background-image: url('../images/water/panoramnii.jpg');
    width: 100%;
    height: 27.541rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
}
.block-twelfe{
    background-image: url('../images/water/spa.jpg');
    width: 100%;
    height: 27.541rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;

}
.block-threeten{
    background-image: url('../images/water/termalni.jpg');
    width: 100%;
    height: 27.541rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
    margin-left: 17rem;

}
.block-h{
    font-size: 2rem;
    font-weight: 700;
}
.block-p{
    font-size: 0.8rem;
    width: 21rem;
    font-weight: 600;
    margin-top: 3rem;
    border-radius: 1rem;
    height: 14rem;
 
}
.button-p{
    font-size: 0.8rem;
}
.footer{
    display: flex;
    padding-top: 12rem;
    margin: 0 auto;
    justify-content: center;
}
.foo{
    background-image: url("../images/water/Group\ 18.png");
    margin-top: -5rem;
}
.img-logo{
    width: 7.25rem;
    height: 1.25rem;
}
.img-inst{
    width: 2.20833rem;
    height: 2.20833rem;
}
li{
    list-style: none;
}
.foo-p-l{
    color: white;
}
.li-first{
    padding-top: 1rem;
}
.li-second{
    padding-top: 1.8rem;
    text-align: center;
    color: white;
    font-weight: 600;
}
.fir{
    padding-top: 1rem;
}

.oo{
    margin-left: 5rem;
}
@media (max-width: 1800px){
    *{
        font-size: 20px;
    }
    
}
@media (max-width: 1580px){
    *{
        font-size: 18px;
    }
    
}
@media (max-width: 1400px){
    *{
        font-size: 16px;
    }
    .footer{
        padding-top: 17rem;
    }
    
}

@media (max-width: 1200px){
    *{
        font-size: 12px;
    }

}
@media (max-width: 940px){
    *{
        font-size: 12px;
    }

    
}
@media (max-width: 940px){
    *{
        font-size: 11px;
    }


    
}
@media (max-width: 1200px){
    
    .img-logoo{
        width: 12.08rem;
        height: 2.08rem;
    }
    .footer{
        padding-top: 20rem;
    }
    
}
@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 10px 20px;
    }
    .buy-ticket{
        width: 40%;
    }
    .bobi{
        width: 80%;
    }
    header{
        text-align: center;
    }
    .footer{
        padding-top: 20rem;
    }
    .nav-a{
        padding-right: 0;
        padding-top: 0;
        font-size: 1rem;
    }
    .plat{
        width: 2.5rem;
        
        height: 2.5rem;
    }
    .blocks{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    nav {
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    nav a {
        padding: 10px 0;
    }
    .buy-ticket {
        text-align: center;
        margin:auto;
        
    }
    .block-p{
        font-size: 1rem;
        width: 30rem;
    }
    .water-h{
        padding-top: 4rem;
    }
    .block-threeten{
        margin-left: 0;
    }
}
@media (max-width: 550px) {
    .water-p{
        width: 30rem;
    }
}
@media (max-width: 480px) {
    .button-p{
        font-size: 0.7rem;
    }
    .block-p{
        font-size: 0.8rem;
        width: 21rem;
    }
}

@media (max-width: 376px) {
    
    .buy-ticket{
        width: 50%;
    }
    .water-h{
        padding-top: 2rem;
    }
    .water-p{
        width: 25rem;
    }
    .button-p{
        font-size: 0.6rem;
    }
}